# Cleaning and exploring the dataset

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df=pd.read_excel('./flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [11]:
df.shape

(10683, 11)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [20]:
len(df['Airline'].unique())

12

In [19]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

a=le.fit_transform(df[['Airline']])
np.unique(a)

/Users/abhiram/Documents/Data Science/path/to/venv/lib/python3.13/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

But this might add a bias based on the number. So the model might assume that the airline with a bigger number is more prioritized. So lets go with ohe

In [25]:
from sklearn.preprocessing import OneHotEncoder
oh=OneHotEncoder()

b=oh.fit_transform(df[['Airline']]).toarray()
Airlines=pd.DataFrame(b,columns=[oh.get_feature_names_out(['Airline'])])
Airlines

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
df_copy=df.copy()

In [27]:
df_copy.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
df_copy=pd.concat([df_copy,Airlines],axis=1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,"(Airline_GoAir,)","(Airline_IndiGo,)","(Airline_Jet Airways,)","(Airline_Jet Airways Business,)","(Airline_Multiple carriers,)","(Airline_Multiple carriers Premium economy,)","(Airline_SpiceJet,)","(Airline_Trujet,)","(Airline_Vistara,)","(Airline_Vistara Premium economy,)"
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
df_copy.drop(columns=['Airline'],inplace=True)

In [51]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 34 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Date_of_Journey                               10683 non-null  object
 1   Source                                        10683 non-null  object
 2   Destination                                   10683 non-null  object
 3   Route                                         10682 non-null  object
 4   Dep_Time                                      10683 non-null  object
 5   Arrival_Time                                  10683 non-null  object
 6   Duration                                      10683 non-null  object
 7   Total_Stops                                   10682 non-null  object
 8   Additional_Info                               10683 non-null  object
 9   Price                                         10683 non-null  int64
 10  (Airline_Air Asia,)                           10683 non-null  float64
 11  (Airline_Air India,)                          10683 non-null  float64
 12  (Airline_GoAir,)                              10683 non-null  float64
 13  (Airline_IndiGo,)                             10683 non-null  float64
 14  (Airline_Jet Airways,)                        10683 non-null  float64
 15  (Airline_Jet Airways Business,)               10683 non-null  float64
 16  (Airline_Multiple carriers,)                  10683 non-null  float64
 17  (Airline_Multiple carriers Premium economy,)  10683 non-null  float64
 18  (Airline_SpiceJet,)                           10683 non-null  float64
 19  (Airline_Trujet,)                             10683 non-null  float64
 20  (Airline_Vistara,)                            10683 non-null  float64
 21  (Airline_Vistara Premium economy,)            10683 non-null  float64
 22  (Airline_Air Asia,)                           10683 non-null  float64
 23  (Airline_Air India,)                          10683 non-null  float64
 24  (Airline_GoAir,)                              10683 non-null  float64
 25  (Airline_IndiGo,)                             10683 non-null  float64
 26  (Airline_Jet Airways,)                        10683 non-null  float64
 27  (Airline_Jet Airways Business,)               10683 non-null  float64
 28  (Airline_Multiple carriers,)                  10683 non-null  float64
 29  (Airline_Multiple carriers Premium economy,)  10683 non-null  float64
 30  (Airline_SpiceJet,)                           10683 non-null  float64
 31  (Airline_Trujet,)                             10683 non-null  float64
 32  (Airline_Vistara,)                            10683 non-null  float64
 33  (Airline_Vistara Premium economy,)            10683 non-null  float64
dtypes: float64(24), int64(1), object(9)
memory usage: 2.8+ MB

In [ ]:
df_copy['Date_of_Journey']
df_copy['Date']=df_copy['Date_of_Journey'].str.split('/').str[0]
df_copy['Month']=df_copy['Date_of_Journey'].str.split('/').str[1]
df_copy['Year']=df_copy['Date_of_Journey'].str.split('/').str[2]
df_copy[['Date_of_Journey','Date','Month','Year']].head()

df_copy.drop(columns=['Date_of_Journey'],inplace=True)

In [ ]:
df_copy['Date']=df_copy['Date'].astype(int)
df_copy['Month']=df_copy['Month'].astype(int)
df_copy['Year']=df_copy['Year'].astype(int)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 36 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Source                                        10683 non-null  object
 1   Destination                                   10683 non-null  object
 2   Route                                         10682 non-null  object
 3   Dep_Time                                      10683 non-null  object
 4   Arrival_Time                                  10683 non-null  object
 5   Duration                                      10683 non-null  object
 6   Total_Stops                                   10682 non-null  object
 7   Additional_Info                               10683 non-null  object
 8   Price                                         10683 non-null  int64
 9   (Airline_Air Asia,)                           10683 non-null  float64
 10  (Airline_Air India,)                          10683 non-null  float64
 11  (Airline_GoAir,)                              10683 non-null  float64
 12  (Airline_IndiGo,)                             10683 non-null  float64
 13  (Airline_Jet Airways,)                        10683 non-null  float64
 14  (Airline_Jet Airways Business,)               10683 non-null  float64
 15  (Airline_Multiple carriers,)                  10683 non-null  float64
 16  (Airline_Multiple carriers Premium economy,)  10683 non-null  float64
 17  (Airline_SpiceJet,)                           10683 non-null  float64
 18  (Airline_Trujet,)                             10683 non-null  float64
 19  (Airline_Vistara,)                            10683 non-null  float64
 20  (Airline_Vistara Premium economy,)            10683 non-null  float64
 21  (Airline_Air Asia,)                           10683 non-null  float64
 22  (Airline_Air India,)                          10683 non-null  float64
 23  (Airline_GoAir,)                              10683 non-null  float64
 24  (Airline_IndiGo,)                             10683 non-null  float64
 25  (Airline_Jet Airways,)                        10683 non-null  float64
 26  (Airline_Jet Airways Business,)               10683 non-null  float64
 27  (Airline_Multiple carriers,)                  10683 non-null  float64
 28  (Airline_Multiple carriers Premium economy,)  10683 non-null  float64
 29  (Airline_SpiceJet,)                           10683 non-null  float64
 30  (Airline_Trujet,)                             10683 non-null  float64
 31  (Airline_Vistara,)                            10683 non-null  float64
 32  (Airline_Vistara Premium economy,)            10683 non-null  float64
 33  Date                                          10683 non-null  int64
 34  Month                                         10683 non-null  int64
 35  Year                                          10683 non-null  int64
dtypes: float64(24), int64(4), object(8)
memory usage: 2.9+ MB

In [72]:
df_copy.head()

,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,"(Airline_Air Asia,)",...,"(Airline_Jet Airways Business,)","(Airline_Multiple carriers,)","(Airline_Multiple carriers Premium economy,)","(Airline_SpiceJet,)","(Airline_Trujet,)","(Airline_Vistara,)","(Airline_Vistara Premium economy,)",Date,Month,Year
0,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24,3,2019
1,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5,2019
2,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,6,2019
3,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,5,2019
4,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3,2019

In [ ]:

df_copy['Arrival_Hour'] = df_copy['Arrival_Time'].str.split(':').str[0]
df_copy['Arrival_Min'] = df_copy['Arrival_Time'].str.split(':').str[1].str.split(' ').str[0]

In [16]:
df_copy.head()
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Dep_Hour         10683 non-null  int64
 13  Dep_Min          10683 non-null  int64
 14  Arrival_Hour     10683 non-null  object
 15  Arrival_Min      10683 non-null  object
dtypes: int64(6), object(10)
memory usage: 1.3+ MB

In [20]:
df_copy['Arrival_Hour']=df_copy['Arrival_Hour'].astype(int)
df_copy['Arrival_Min']=df_copy['Arrival_Min'].astype(int)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Dep_Hour         10683 non-null  int64
 13  Dep_Min          10683 non-null  int64
 14  Arrival_Hour     10683 non-null  int64
 15  Arrival_Min      10683 non-null  int64
dtypes: int64(8), object(8)
memory usage: 1.3+ MB

In [21]:



def parse_duration(x):
    if pd.isna(x):
        return 0, 0
    s = str(x).strip()
    hrs = 0
    mins = 0
    if 'h' in s:
        parts = s.split('h')
        try:
            hrs = int(parts[0].strip())
        except:
            hrs = 0
        if len(parts) > 1 and 'm' in parts[1]:
            try:
                mins = int(parts[1].replace('m','').strip())
            except:
                mins = 0
    elif 'm' in s:
        try:
            mins = int(s.replace('m','').strip())
        except:
            mins = 0
    return hrs, mins

dur_hours = []
dur_mins = []
for d in df_copy['Duration']:
    h, m = parse_duration(d)
    dur_hours.append(h)
    dur_mins.append(m)
df_copy['Duration_hours'] = dur_hours
df_copy['Duration_mins'] = dur_mins

df_copy['Total_Stops'] = df_copy['Total_Stops'].astype(str).str.replace('non-stop', '0 stops').str.replace('non stop', '0 stops').str.replace('nonstop', '0 stops')
df_copy['Total_Stops_Num'] = df_copy['Total_Stops'].str.extract('(\d+)').astype(float)

df_copy['Additional_Info'] = df_copy['Additional_Info'].fillna('No info')
df_copy['Route'] = df_copy['Route'].fillna('')
df_copy['Route_count'] = df_copy['Route'].apply(lambda x: len(x.split(' → ')) if x != '' else 0)

airline_dummies = pd.get_dummies(df_copy['Airline'], prefix='Airline')
source_dummies = pd.get_dummies(df_copy['Source'], prefix='Source')
destination_dummies = pd.get_dummies(df_copy['Destination'], prefix='Destination')

df_copy = pd.concat([df_copy, airline_dummies, source_dummies, destination_dummies], axis=1)

drop_cols = ['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops']
for col in drop_cols:
    if col in df_copy.columns:
        df_copy.drop(columns=[col], inplace=True)

df_copy['Price'] = pd.to_numeric(df_copy['Price'], errors='coerce')
df_copy = df_copy.reset_index(drop=True)

df_copy.to_csv('./flight_price_cleaned.csv', index=False)

<>:35: SyntaxWarning: invalid escape sequence '\d'
<>:35: SyntaxWarning: invalid escape sequence '\d'
/var/folders/fk/k7khz2tn63sdqb5dw30ysb0h0000gn/T/ipykernel_7127/1362188608.py:35: SyntaxWarning: invalid escape sequence '\d'
  df_copy['Total_Stops_Num'] = df_copy['Total_Stops'].str.extract('(\d+)').astype(float)

In [22]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 36 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Additional_Info                            10683 non-null  object
 1   Price                                      10683 non-null  int64
 2   Date                                       10683 non-null  int64
 3   Month                                      10683 non-null  int64
 4   Year                                       10683 non-null  int64
 5   Dep_Hour                                   10683 non-null  int64
 6   Dep_Min                                    10683 non-null  int64
 7   Arrival_Hour                               10683 non-null  int64
 8   Arrival_Min                                10683 non-null  int64
 9   Duration_hours                             10683 non-null  int64
 10  Duration_mins                              10683 non-null  int64
 11  Total_Stops_Num                            10682 non-null  float64
 12  Route_count                                10683 non-null  int64
 13  Airline_Air Asia                           10683 non-null  bool
 14  Airline_Air India                          10683 non-null  bool
 15  Airline_GoAir                              10683 non-null  bool
 16  Airline_IndiGo                             10683 non-null  bool
 17  Airline_Jet Airways                        10683 non-null  bool
 18  Airline_Jet Airways Business               10683 non-null  bool
 19  Airline_Multiple carriers                  10683 non-null  bool
 20  Airline_Multiple carriers Premium economy  10683 non-null  bool
 21  Airline_SpiceJet                           10683 non-null  bool
 22  Airline_Trujet                             10683 non-null  bool
 23  Airline_Vistara                            10683 non-null  bool
 24  Airline_Vistara Premium economy            10683 non-null  bool
 25  Source_Banglore                            10683 non-null  bool
 26  Source_Chennai                             10683 non-null  bool
 27  Source_Delhi                               10683 non-null  bool
 28  Source_Kolkata                             10683 non-null  bool
 29  Source_Mumbai                              10683 non-null  bool
 30  Destination_Banglore                       10683 non-null  bool
 31  Destination_Cochin                         10683 non-null  bool
 32  Destination_Delhi                          10683 non-null  bool
 33  Destination_Hyderabad                      10683 non-null  bool
 34  Destination_Kolkata                        10683 non-null  bool
 35  Destination_New Delhi                      10683 non-null  bool
dtypes: bool(23), float64(1), int64(11), object(1)
memory usage: 1.3+ MB